<div class="contacts_card">
	<div class="contacts_card_header">
		<div class="d-flex">
      <div class="img_cont">
        <img id="user_image" src="img/default-profile-icon.jpg" class="user_img">
        <span class="online_icon"></span>
      </div>
      <div class="user_info">
        <span id="my_name"><%=userData.name%></span>
        <span id="my_id"><%=userData.id%></span>
      </div>
    </div>
	</div>
	<div class="contacts_body">
		<ul class="contacts" id="users-connected">
		</ul>
	</div>
</div>