<!DOCTYPE html>
<html>
<head id="html-head">
	<%- include('header.ejs'); %>
</head>
<body>
	<div class="main">
		<aside class="main-left">
			<%- include('aside.ejs'); %>
		</aside>
		<div class="main-right" id="chat-room">
			<%- include('main.ejs'); %>
		</div>
	</div>
</body>
<footer id="html-footer">
	<%- include('footer.ejs'); %>
</footer>
</html> 